style
    img {
        width: 100%;
        height: 300px;
        max-width: 500px;
        object-position: bottom;
    }

    body {
        background-color: #E2C391;
        color: #427AA1;
        font-family: Raleway, Arial, sans-serif;
        font-size: 22px;
        margin: 0;
        padding: 0;
    }
    h2 {
        margin: 0;
    }
    #content {
        max-width: 1600px;
        height: 100px;
        margin: 0 auto;
    }

    header {
        background-color: rgba(20, 30, 13, 0.7);
    }

    nav a:hover {
        background-color: #f06449;
        color: #427AA1;
        text-decoration: none;
    }

    .book, .join {
        background-color: #427AA1;
        color: #396E94;
        text-decoration: none;
        font-size: 18px;
        padding: 15px 30px;
        margin-top: 50px;
    }

    .book:hover, .join:hover {
        background-color: #f06449;
        color: #396E94;
        text-decoration: none;
        font-size: 18px;
        padding: 15px 30px;
        margin-top: 50px;
        border-radius: 5px;
    }
    .card-img {
        border: 10px solid #d9c2a3;
    }
    main section img {
        box-sizing: border-box;
    }
    #background {
        background-color: #E2C391;
    }

    .msg {
        background-color: #E2C391;
    }

    footer .body {
        background-color: #E2C391;
    }

    nav a, .home-title, h4, .book, .join, .msg h2, .msg p, footer, footer a {
        color: #427AA1;
        text-decoration: none;
        text-align: center;
        padding: 35px;
    }
    .home-title {
        font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
        font-size: 2em;
    }
    .msg {
        background-color:#E2C391;
        line-height: 1.5em;
    }
    .logo, .icon {
        width: 80px;
    }

    #rafting-img {
        width: 100%;
    }

    nav a, .book, .join, footer a {
        text-decoration: none;
    }

    footer p, footer a:hover {
        text-decoration: underline;
    }

    footer p {
        font-size: 1.2em;
    }
style
