nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color:     #396E94;
    text-decoration: none;
    padding: 35px;
}

.logo {
    width: 80px;
}

#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}


footer .social img {
   width: 80px;
}

footer .social {
   display: flex;
   justify-content: space-around;
   align-items: center;
}